## Import functions
importFrom(foreign, read.dbf)
importFrom(DBI, dbConnect, dbGetQuery, dbSendQuery, dbReadTable)
importFrom(methods, new)
importFrom(RefManageR, ReadBib)
importFrom(rpostgis, dbReadDataFrame, pgInsert)
importFrom(utils, data, zip, askYesNo)

## Import of packages
import(
	taxlist,
	vegdata,
	vegtable
)

## Export of regular function names
export(
	clone,
	get_precision,
	import_swea,
	pg_delete_concept,
	pg_delete_name,
	pg_insert_concept,
	pg_insert_synonym,
	pg_merge_concepts,
	postgres2taxlist,
	postgres2vegtable,
	taxlist2tvlist
)
