## Import functions
importFrom(foreign, read.dbf)
importFrom(utils, data, zip)
importFrom(DBI, dbConnect, dbGetQuery, dbSendQuery)
importFrom(rpostgis, dbReadDataFrame, pgInsert)
importFrom(methods, new)

## Import of packages
import(
	taxlist,
	vegdata,
	vegtable
)

## Export of regular function names
export(
	clone,
	pg_insert_concept,
	pg_insert_name,
	postgres2taxlist,
	postgres2vegtable,
	taxlist2tvlist,
	swea_import
)
